<div class="company">
    <!--搜索块-->
    <div class="f_comSearch">
        <label>标&emsp;&emsp;题 <input class="form-control" ng-model="vm.searchParams.title"> </label> <label>创&ensp;建&ensp;者
        <input class="form-control" ng-model="vm.searchParams.author">

    </label> <label>创建时间
        <input type="text" ui-date="dateOptions" class="form-control f_city" ng-model="vm.searchParams.startAt">—<input type="text" ui-date="dateOptions" class="form-control f_city" ng-model="vm.searchParams.endAt">
        <!-- <span ng-if="vm.searchParams.startAt > vm.searchParams.endAt">创建时间不能大于修改时间，请重新选择！</span> -->
    </label> <label>状&emsp;&emsp;态
        <select class="form-control" ng-model="vm.searchParams.status">
            <option value="" ng-selected="vm.searchParams.status==''||vm.searchParams.status==undefined" selected>全部</option>
            <option value="2">下架</option> <option value="1">上架</option>
        </select>
    </label> <label>类&emsp;&emsp;型
        <select class="form-control" ng-model="vm.searchParams.type">

            <option value="" ng-selected="vm.searchParams.type==''||vm.searchParams.type==undefined" selected>全部</option>
            <option value="0">首页banner</option> <option value="1">找职位banner</option>
            <option value="2">找精英banner</option> <option value="3">行业大图</option>
        </select>
    </label>
        <div class="f_searchbtn pull-right">
            <button class="btn btn-warning" ng-click="vm.f_clear()">清空</button>
            <button class="btn btn-success" ng-click="vm.f_search()">搜索</button>
            <!-- ng-disabled="vm.searchParams.startAt > vm.searchParams.endAt" -->


        </div>
    </div>
    <p class="f_comcap"><span>职位列表</span>
        <button class="btn btn-success" ng-click="vm.sorting()">保存排序</button>
        <button class="btn btn-success" ui-sref="field.newArticle">+新增</button>
    </p>

    <div class="f_ullist">
        <ul class="articleinfo" ui-sortable="sortableOptions" ng-model="vm.article">
            <li class="articleli">
                <span class="f_lispan1">序号</span>
                <span class="f_lispan2">图片</span>
                <span class="f_lispan3">标题</span>
                <span class="f_lispan4">类型</span>
                <span class="f_lispan5">创建者</span>
                <span class="f_lispan6">创建时间</span>
                <span class="f_lispan7">修改时间</span>
                <span class="f_lispan8">状态</span>
                <span class="f_lispan9">操作</span>
            </li>
            <li class="articleli" ng-repeat="x in vm.article">
                <span class="f_lispan1">{{x.id}}</span>
                <span class="f_lispan2"><img ng-src="{{x.img}}"></span>
                <span class="f_lispan3">{{x.title}}</span>
                <span class="f_lispan4">{{x.type | f_articleType}}</span>
                <span class="f_lispan5">{{x.createBy}}</span>
                <span class="f_lispan6">{{x.createAt | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                <span class="f_lispan7">{{x.updateAt | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                <span class="f_lispan8">{{x.status | f_article }}</span>
                <span class="f_lispan9">
                <button ng-if="x.status == '2'" ng-click="vm.f_putaway($index)" class="btn btn-success">上线</button>
                <button ng-if="x.status == '1'" ng-click="vm.f_unputaway($index)" class="btn btn-warning">下线</button>
                <button class="btn btn-primary" ui-sref="field.newArticle({id:vm.article[$index].id})">编辑</button>
                <button class="btn btn-danger" ng-click="vm.f_delete($index)">删除</button>
            </span>
            </li>
        </ul>
        <pagination ng-if="total" total="{{total}}"></pagination>
    </div>
</div>