<!-- 公司搜索页导航和列表，用路由进行展现 -->
<div class="companysearch-content1">
	<form class="companysearch-content1-main" name="myForm" novalidate>
		<p>
			<span class="content1-main-title">关&nbsp; 键&nbsp;词：</span>
			<input class="content1-main-name" type="text" name="name" ng-model="name" ng-maxlength=38 >
			&nbsp;&nbsp;<span ng-if="myForm.name.$dirty !==true || myForm.name.$invalid !==true">当前关键词：{{name}}</span>&nbsp;&nbsp;
            <span ng-show="myForm.name.$dirty && myForm.name.$invalid">
                <span ng-show="myForm.name.$error.maxlength">公司名最长可输入38个字</span>
            </span>
		</p>
		<p>
			<span class="content1-main-title">所在地区：</span>
            <input type="radio" id="radio-province-1" ng-model="province" name="province-choose" value="">
            <label for="radio-province-1" class="choose">不限</label>
            <input type="radio" id="radio-province-2" ng-model="province" name="province-choose" value="1">
            <label for="radio-province-2" class="choose">北京</label>
		</p>
		<p>
			<span class="content1-main-title">所属行业：</span>
            <input type="radio" id="radio-industry-1" ng-model="industry" name="industry-choose" value="">
            <label for="radio-industry-1" class="choose">不限</label>
			<input type="radio" id="radio-industry-2" ng-model="industry" name="industry-choose" value="0">
            <label for="radio-industry-2" class="choose">移动互联网</label>
			<input type="radio" id="radio-industry-3" ng-model="industry" name="industry-choose" value="1">
            <label for="radio-industry-3" class="choose">电子商务</label>
			<input type="radio" id="radio-industry-4" ng-model="industry" name="industry-choose" value="2">
            <label for="radio-industry-4" class="choose">企业服务</label>
			<input type="radio" id="radio-industry-5" ng-model="industry" name="industry-choose" value="3">
            <label for="radio-industry-5" class="choose">O2O</label>
			<input type="radio" id="radio-industry-6" ng-model="industry" name="industry-choose" value="4">
            <label for="radio-industry-6" class="choose">教育</label>
            <input type="radio" id="radio-industry-7" ng-model="industry" name="industry-choose" value="5">
            <label for="radio-industry-7" class="choose">金融</label>
            <input type="radio" id="radio-industry-8" ng-model="industry" name="industry-choose" value="6">
            <label for="radio-industry-8" class="choose">游戏</label>
		</p>
		<p>
			<span class="content1-main-title">融资规模：</span>
            <input type="radio" id="radio-financing-1" ng-model="financing" name="financing-choose" value="">
            <label for="radio-financing-1" class="choose">不限</label>
			<input type="radio" id="radio-financing-2" ng-model="financing" name="financing-choose" value="1">
            <label for="radio-financing-2" class="choose">天使轮</label>
            <input type="radio" id="radio-financing-3" ng-model="financing" name="financing-choose" value="2">
            <label for="radio-financing-3" class="choose">A轮</label>
            <input type="radio" id="radio-financing-4" ng-model="financing" name="financing-choose" value="3">
            <label for="radio-financing-4" class="choose">B轮</label>
            <input type="radio" id="radio-financing-5" ng-model="financing" name="financing-choose" value="4">
            <label for="radio-financing-5" class="choose">C轮</label>
			<input type="radio" id="radio-financing-6" ng-model="financing" name="financing-choose" value="5">
            <label for="radio-financing-6" class="choose">D轮及以上</label>
            <input type="radio" id="radio-financing-7" ng-model="financing" name="financing-choose" value="6">
            <label for="radio-financing-7" class="choose">上市公司</label>
            <input type="radio" id="radio-financing-8" ng-model="financing" name="financing-choose" value="0">
            <label for="radio-financing-8" class="choose">无需融资</label>
		</p>
		<div class="content1-main-switch">
			<button class="content1-main-recover" ng-click="reset()">清空</button>
			<button class="content1-main-go" ui-sref="search.searchCompany({name:name, province:province, industry:industry, financing:financing})">搜索</button>
		</div>
	</form>
</div>
<!-- 编写js是记得加上分页 备忘录 -->
<div class="companysearch-content2">
	<div class="row companysearch-content2-list">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="c in vm.cSParams">
			<div class="content2-list-main">
				<div class="content2-list-main-logo" ui-sref="companyDetails.product({comId:c.id})">
					<img src="{{c.logo}}" alt="公司logo">
				</div>
				<div class="content2-list-main-com">
					<h4 class="list-main-com-1" ui-sref="companyDetails.product({comId:c.id})">{{c.name}}</h4>
					<p class="list-main-com-2">{{c.slogan}}</p>
					<p class="list-main-com-2"><span>{{c.totalNum}} </span>个在招职位</p>
				</div>
				<div class="content2-list-main-genre">
					<div class="content2-list-main-genre-part1">
						<i class="iconfont iconfont-diy6 icon-yidonghulianwang-copy"></i> {{c.industry | industry}}
					</div>
					<div class="content2-list-main-genre-part2">
						<span>
							<i class="iconfont iconfont-diy6 icon-shangshigongsi"></i> {{c.finacing | financing}}
						</span>
                        
					</div>
					<div class="content2-list-main-genre-part3">
						<span ng-if="c.province !== ''">
                        <i class="iconfont iconfont-diy7 icon-llcouponsupportedshopaddress"></i>{{c.province | province}}
                        </span>
					</div>
				</div>
			</div>
		</div> 
        <div class="companysearch-content2-page">
            <pagination ng-if="vm.total" total={{vm.total}}></pagination>
        </div>
	</div>
</div>